body {
   background-color: white;
   width: 100%;
}
header {
   width: 100%;
   height: auto;
   background-color: #f4f7f9;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
padding-bottom: 60px}
.section {
   width: 940px;
   padding-right:  10px;
   padding-left: 10px;
   margin: 0 auto;
}
.header-top {
   width:100%;
   background-color: #293449;}
.logo{display: block;
   background-color: #ee3643;
   padding: 15px 55px;
   box-shadow: 0px 5px black
}
.cl1 {
   margin: 0 auto;
   display: flex;
   align-items:center;
   flex-wrap: wrap; 
}
.cl1 a {
   color: white;
   text-decoration: none;
   margin-right: 0px;
   
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 17px;
   line-height: 18px;
   text-align: left;
}
.likes,.to-buy {
   padding: 14px 31px 13px 50px;
    position: relative;
}
.likes {
   margin-left:auto;
}
.likes::before {content: "";
position: absolute;
   left: 17px;
   width: 16px;
   height: 18px;
   background-image: url('img/icon-bookmark.svg');
   background-repeat: no-repeat;
   background-position: 0 0;
}
 .to-buy::before {
    content: "";
    position: absolute;
   left: 17px;
   width: 16px;
   height: 18px;
   background-image: url('img/icon-cart.svg');
   background-repeat: no-repeat;
   background-position: 0 0;
}
.order-button {
   background-color: #63a63e;
   padding: 14px 20px 13px 20px;
}

.header-between {
   background-color: #f4f7f9;
   min-height:50px;
   padding: 45px 10px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.header-between a {
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 21px;
   line-height: 21px;
   text-align: left;
   color: black;
   text-decoration: none
}
.header-between .number {
   color: #ee3643;
   border: 3px solid white;
   padding: 13px 52px 11px 74px;
}
.header-between p {
   width: 196px;
   font-size: 16px;
   line-height: 23px;
   text-align: left;
   color: #ee3643;
   font-style: italic;
}
.header-between .under-number {
   font-size: 14px;
   line-height: 24px;
   text-align: center;
   font-style: normal;
   color: #32425c;
   
   width: auto
}
.login-button .login{
   padding: 14px 27px 15px 48px;
   background-color: white
}

.login-button .registration {
   padding: 14px 25px 15px 25px;
   background-color: white
}
.nav {
   background-color:#32425c;;
   min-height:50px;
   box-shadow: 0px 5px #293449;
}
.nav a {
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 17px;
   line-height: 17px;
   text-align: left;
   
   color: white;
   text-decoration: none
}
.nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   list-style: none
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   padding-top: 60px;
}

.first-section {
   display: flex;
   flex-direction: column;
   margin-bottom: 53px;
   justify-content: space-between;
}
.first-section h3 {
    font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 800;
   font-size: 24px;
   line-height: 30px;
   text-align: left;
   
   color: white;
   margin-left: 22px;
   margin-top: 26px;
}
.first-section a {
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   
   padding: 12px 24px 14px 24px;
   color: white;
   margin-left: 22px;
   margin-top: 15px;
   background-color: rgba(0, 0, 0, 0.1);
   border-radius: 3px
}
.gallery h3{
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 800;
   font-size: 36px;
   line-height: 36px;
   text-align: left;
   text-transform: uppercase;
   margin-bottom: 0px;
}
.gallery a{
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   text-align: left;
   text-transform: uppercase;
   text-decoration: none;
   margin-left: 0px;
}
.column1 {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.column1 .orange {background-color: #ffbf47;
      background-image: url(img/icon-1.svg);
      background-repeat: no-repeat;
      background-position: 213px 31px;}
.column1 .blue {background-color: #3bbce3;
      background-image: url(img/icon-2.svg);
      background-repeat: no-repeat;
      background-position: 197px 33px;}
.column1 .lilac {background-color: #dc91d8;
      background-image: url(img/icon-3.svg);
      background-repeat: no-repeat;
      background-position: 191px 31px;}
.small-column .green {background-color: #8ed78f;
      background-image: url(img/icon-4.svg);
      background-repeat: no-repeat;
      background-position: 196px 26px;}
.small-column .hell-orange {background-color: #ffc047;
      background-image: url(img/icon-5.svg);
      background-repeat: no-repeat;
      background-position: 191px 32px;}

.column2 {
   display: flex;
   justify-content: space-between;
 }
.small-column {display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.section h2 {
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 30px;
   line-height: 30px;
   text-align: left;
   text-transform: uppercase;
}
 .menu {
    width: 300px;
    min-height: 123px;
    margin-bottom: 20px;
}
.column2 .menu:last-child {
   margin-bottom: 0px;
}
.gallery {
   width: 620px;
   background-color: sandybrown;
   background-image: url(img/slide-image1.jpg);
   background-repeat: repeat-y;
}
.section2-titel {background-color: #f9f5f0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 89px;
}
.section-button {
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   
   background-color: #ee3643;
   width:253px;
   height: 38px;
   color: white;
   margin-right: 24px;
}


.catalog-items {
   width: 100%;
   margin: 20px auto;
   margin-bottom: 0px;
}
.catalog-item {
   position: relative;
   display: inline-block;
   width: 218px;
   margin-right: 20px;
   margin-bottom: 20px;
   
   line-height: 20px;
   font-weight: bold;
   text-align:center;
   
   border: 1px solid #ccc;
}

.catalog-item .flag {
   position:absolute;
   top: -1px;
   right: -1px;
   
   width: 60px;
   height: 60px;
   
   text-indent: -1000px;
   overflow: hidden;
   z-index: 20;
}

.catalog-item .flag-new {
   background: url("img/new-flag.png") no-repeat 0 0;
}
.catalog-item .actions {
   display: none;
}
.catalog-item .image {
   width: 218px;
   height: 168px;
}

.catalog-item .image img {
   max-width: 100%
}
.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}
.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  color: #999;
  text-decoration: line-through;
}
.catalog-item .price {
   position: relative;
   width: 80px;
   margin: 10px auto;
   margin-bottom: 20px;
   padding: 10px 30px;
   
   color: white;
   background: #ee3643;
   border-radius: 3px;
}
.catalog-item .price:after {
  content: "";
  
  position: absolute;
  top: 0px;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}
   
.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
   border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}
.section2-titel{
   margin-top: 0px;
}
section h2 {margin-left: 30px;}
.enterprise-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0px;
   margin-bottom: 0px;
}
.enterprise-list li {
   width: 220px;
   height: 145px;
   background-color: white;
   margin-bottom: 20px;  
      vertical-align: baseline;
   border: 1px solid #eaeaea
}
   
.image img {
   margin: auto;
   display: block;
}

.service-section {
   background-color: #f4f7f9;
   margin-top: 65px;
   width: 100%;
}
.service {
   margin-right: auto;
   margin-left: auto;
   padding: 0px 10px;
   display: flex;
   flex-wrap: wrap;
}
.service .section2-titel {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: inherit;
}
.service h2 {margin-left: 0px;}
.service p, .contacts p {
   font-family: 'PTSans', 'Arial', sans-serif;
   font-size: 13px;
   line-height: 24px;
   text-align: left;
   color: black;
}
.service .service-item {
   flex:auto;
   width: auto;
   padding-bottom: 99px;
   background-image: url(img/delivery.png);
   background-repeat: no-repeat;
   background-position: 100% 70px;
}
.service-item h2 {
   margin-left: 80px;
   margin-top: 48px;
}
.service-item p {
   margin-left: 80px; 
}
.service-buttons {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   width: 240px;
   background-image: url(img/shadow.png);
   background-repeat: no-repeat;
   background-position: right bottom;
}
.service-buttons a {
   background-color: #32425c;
   width: 240px;
   padding: 20px 140px 23px 20px;
   text-align:left;
   border-bottom: 1px solid #293449;
   border-top: 1px solid #405069;
}

.service-buttons .current-button {
   background-color: white;
   color: #32425c;
   border: none;
}

.contacts {
   padding-right: 10px;
   padding-left: 10px;
   display: flex;
   flex-wrap: wrap;
   margin-top: 82px;
}
.contacts h2 {
   margin-left: 0px;
   margin-top: 0px;
}
.address {
   margin-left: auto;
   width: 300px;
}
.address img {margin-top: 36px;  
}
.we-are .delivery-method{
   margin-top: 36px;
}
.we-are li {
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 20px;
   text-align: left;
   color: black;
   
   margin-bottom: 24px;
}
.contacts-button {
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   
   
   background-color: #ee3643;
}
.we-are .contacts-button {
   padding: 14px 20px 12px 40px;
}

footer {
   width: 100%;
margin-top: 86px;}
.menu-footer {
   background-color: #32425c;
   width: 100%;
}
.section-footer {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   padding-bottom: 53px;
}
.section-footer p {
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   text-align: left;
   color: white;
}
.shop-menu, .product-menu-footer {
   display: flex;
   justify-content: space-between;
   margin: 0px
}
.shop-menu li, .product-menu-footer li {display: inline-block;
margin-left: 57px;  /* cделать margin 60рx , когда применю шрифты и размеры.. */
}  
.shop-menu a {
   color:white;
   text-decoration: none;
}
.product-menu-footer a {
   color:#ffd180
}
.section-copyright p {
   font-family:'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   text-align: left;
   color: white;
}

.copyright {
   background-color: #293449;
   width: 100%;
}
.section-copyright {
   display: flex;
   margin: 0 auto;
   justify-content: space-between;
   padding-top: 40px;
   padding-bottom: 35px;
}
.section-copyright li {display:inline-block}
.section-copyright ul {
   display: flex;
   width: 146px;
   flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.social-button {
   width:42px;
   height: 42px;
   background-color:#212a3a;
   display: flex;
   align-items: center;
  justify-content: center;
   border-radius: 20px;
}
.copyright-links {
   color:#ffd180
}
/* стили для самих иконок в материалах через path */

.visually-hidden {display: none}