body {
   background-color: white;
   box-sizing:border-box;
}

a {
   color: white;
   text-decoration: none;
}

.button {
   text-transform: uppercase;
   background-color: #ee3643; 
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   color: white;
}

.button:hover {
   background-color: #ca2c37;
}
.button:active {
   background-color: #ba2732;
}
/*вся шапка*/
header {
   font-family: 'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   color: white;
   text-align: left;
   font-size: 17px;
   line-height: 18px;
   
   background-color: #f4f7f9;
   
   display: flex;
   flex-direction: column;
   padding-bottom: 60px;
}

/*верхняя строка*/
.product-order {
   background-color: #293449;
   width: auto;
   padding: 0px 130px;
   display: flex;
   padding: 0px 130px;
   justify-content: space-between
}
.product-order a, .product-order input {
   padding: 14px 22px 13px 20px;
}

 
.order {
   background-color:#63a63e;
}
.logo {
   background-color:#ee3643;
   box-shadow: 0px 5px rgba(0, 0, 0, 0.24);
   padding: 14px 22px 11px 20px;
}
/* светлкая область между синими блоками*/
.header-between{
   display: flex;
   justify-content: space-between;
   align-items: center;
   justify-content: space-between;
   margin: 0px 130px 0px 183px;
   flex-grow: 1;
}

header p {
   font-size: 16px;
   line-height: 23px;
   font-style: italic;
   color: #ee3643;
   width: 196px;
   border: 3px solid black
}

.tel-number {
   font-size: 16px;
   line-height: 16px;
   color: #ee3643;
}
.address-header p {
   font-size: 14px;
   line-height: 24px;
   color: #32425c;
   font-style: normal;
}
.button-login a{
   font-size: 21px;
   line-height: 21px;
   color: #000000;
}
.login a:hover {
   color:#ee3643;
}
.button-login a:active,
.login a:active {
   color:rgba(0, 0, 0, 0.3);
}

/*навигация*/
nav {
   font-size: 17px;
   line-height: 17px;
   
   background-color:#32425c;
   box-shadow: 0px 5px #293449;
   display: flex;
   margin: 40px 130px 0;
   
}
nav ul {
   list-style: none;
  
}

.services-button button:hover,
nav li:hover {
   background-color:#293449;
}
.services-button button:active,
nav li:active {
   background-color:#1d2739;
}



main {
   font-family: 'Cuprum', 'Arial', sans-serif;
}
main h2 {
   font-size: 30px;
   font-weight: 400;
   line-height: 30px;
   color: #32425c;
   text-align: left;
   
   background-color:#f9f5f0;
}

 main p {
   font-family: 'PT Sans', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 13px;
   line-height: 24px;
   text-align: left;
}

.menu div:first-of-type {
   background-color: #ffbf47;
}
.menu div:nth-of-type(2) {
   background-color: #3bbce3;
}
.menu div:nth-of-type(3) {
   background-color: #dc91d8;
}
.menu div:nth-of-type(4) {
   background-color: #8ed78f;
}
.menu div:nth-of-type(5) {
   background-color: #ffbf47;
}
.product-menu h3 {
   font-size: 24px;
   line-height: 30px;
   font-weight: bold;
   color: white;
   text-align: left;
}

.product-menu a {
   background-color: rgba(0, 0, 0, 0.1);
}
.product-menu a:hover {
   background-color: rgba(0, 0, 0, 0.2);
}
.product-menu a:active {
   background-color: rgba(0, 0, 0, 0.3);
}

.gallery h3 {
   font-size: 36px;
   line-height: 36px;
}

.gallery p {
   font-size: 18px;
   line-height: 24px;
   color: white;
}


.gallery div:first-of-type {
   background-color: rosybrown;
   background-image: url('img/slide-image1.jpg');
   background-repeat: no-repeat;
}

.gallery div:nth-of-type(2) {
   background-color: rosybrown;
   background-image: url('img/slide-image.jpg');
   background-repeat: no-repeat;
}

.goods-list a {
   font-size: 18px;
   line-height: 20px;
   color: black;
   text-align: center;
}

.old-price {
   font-size: 17px;
   line-height: 18px;
   color: #999999;
   text-align: center;
}
.new-price {
   font-size: 17px;
   line-height: 18px;
}

.popular-goods li:hover {
   box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}
.popular-manufacturer li:hover {
   box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}

.services {
   background-color: #f4f7f9;
}
.services h2{
   background-color: rgba(0, 0, 0, 0);
}

.delivery-item h2 {
   font-weight: 400;
   font-size: 36px;
   line-height:36px;
}

.services-button button{
   font-family: 'Cuprum', 'Arial', sans-serif;
   font-weight: 700;
   font-size: 21px;
   line-height: 30px;
   text-align: left;
   color: white;
   
   background-color:#32425c;
}

.services-button .active {
   color: #32425c;
   background-color: white;
}

.shop-info h2 {
   background-color: rgba(0, 0, 0, 0);
}

.shop-info ul {
   font-family: 'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 20px;
   text-align: left;
   color: #000000;
}

footer {background-color: #32425c;
}

footer p,
footer a {
   font-family: 'Cuprum', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 18px;
   color: #f3f7f9;
}

.product-menu-footer a {
   color: #ffd180;
}

.copyright {
   background-color: #293449;
}

.copyright p,
.copyright a {
   font-size: 16px;
   line-height: 18px;
}

.copyright a{
   color: #ffd180;
}



/*  inner.html */

.my-account a{
   font-size: 16px;
   line-height: 18px;
   color: #32425c;
   
   text-decoration: underline;
}

.button.buy {
   background-color:#63a63e;
   box-shadow: 0px 3px #367315;
   color: white;
   font-size: 14px;
}
.button.buy:hover{
   background-color: #5fbb2d;
}
.button.buy:active{
   background-color: #518534;
   box-shadow: 0px 3px #518534;
}


.button.like {
   font-size: 14px;
   text-align: center;
   color: #32425c;
   
   background-color:white;
   border: 3px solid #63a63e; 
}
.button.like:hover {
   background-color:white;
   border: 3px solid #32425c; 
}
.button.like:active {
   background-color:white;
   border: 3px solid rgba(50, 66, 92, 0.3);; 
}

.sorting {
 background-color:#f7f3ec;   
}

.sorting a {
   font-family: 'PT Sans', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 13px;
   line-height: 18px;
   text-align: left;
   color: rgba(0, 0, 0, 0.3);
   
   text-transform: uppercase;
}

.filters h4{
   font-family: 'PT Sans', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 13px;
   line-height: 18px;
   text-align: left;
   color: rgba(0, 0, 0, 0.3);
   text-transform: uppercase;
   
   background-color:#f7f3ec;
}
.filters legend{
   font-family: 'PT Sans', 'Arial', sans-serif;
   font-weight: 700;
   font-size: 17px;
   line-height: 30px;
   text-align: left;
   color: black;
   text-transform: uppercase;
}
.filters label{
   font-family: 'PT Sans', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
   text-align: left;
   color: black;
   text-transform: uppercase;
}

.filters button, 
.pagination-list a {
   font-family: 'PT Sans', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 13px;
   line-height: 18px;
   text-align: center;
   color: black;
   text-transform: uppercase;
   
   border: 1px solid #e5e5e5;
}

.pagination-item-current{
   background-color:#ee3643;
   color: white;
   border: 1px solid rgba(0, 0, 0, 0);
}

.catalog h2{
   background-color: #f2f6f8;
}

.visually-hidden {
   visibility: hidden;
}


/* cтилизация кнопок */
.product-order input {
   background-color:rgba(0, 0, 0, 0);
   color: white;
   border-color: rgba(0, 0, 0, 0);
}

.product-order a:hover {
   background-color: #212a3a;
}

.product-order input:hover {
   background-color: #212a3a;
}

.product-order .order:hover {
   background-color: #5fbb2d;
}

.product-order a:active {
   background-color: #161d29;
}

.product-order .order:active {
   background-color: #518534;
}

.product-order input:focus{
   background-color: white;
   color: black;
   content: "Перфоратор";
}


.a-logo {
   width: 220px;
   height: 47px;
   background-color:#ee3643;
   box-shadow: 0px 5px rgba(0, 0, 0, 0.24)
}



.user {
   border-top: 7px solid #ee3643;
}
.user input:hover,
.user textarea:hover{
   border: 1px solid #b5b5b5;
}

.user input:focus,
.user textarea:focus{
   border: 1px solid #ee3643;
}


.pagination-list a:hover{
   border-color: #bdc6ca;
}

.sorting a:hover {
   color: black;
   border-bottom: 1px solid #ee3643;
}

.sorting a:active {
   color: #ee3643;
}

.pagination-list a:hover{
   border-color: #bdc6ca
}

.pagination-list a:active{
   border-color: #ee3643;
}

.pagination-current {
   color: white;
   background-color: #ee3643; 
   border-color: #ee3643;
}

.copyright a:hover {
   text-decoration:underline;
}
.copyright a:active {
   color:#ee3643;
}











































