.product-menu:last-of-type {background-image: url(img/slide-image.jpg);
background-repeat: no-repeat;
width: 620px;
height: 266px;
}

.product-menu:nth-of-type(6) {background-image: url(img/slide-image1.jpg);
background-repeat: no-repeat;
width: 620px;
height: 266px;
}

