.logo {
   background-color: #ee3643;
   padding: 13px 56px 13px 55px;
   
}

.product-order a:first-of-type {
   background-color: rgb(156, 43, 52);
   position: relative;
   left: 130px;
   height: 47px;
   
}

.product-order {
   background-color: #293449;
   height: 45px;
   
}














.product-order a:nth-of-type(2){
   width: 105;
   text-align: right;
   background-image: url(img/img_index/icon-bookmark.svg);
   background-repeat:no-repeat;
   background-position: left;
   position: relative;
    left: 664px;
   top: 1px;
   color: white;
} 







.services div:first-of-type {
   background-color: #f4f7f9;
   width: 1200px;
   height: 522px;
   background-image: url(img/img_index/delivery.png);
   background-repeat: no-repeat;
background-size: auto;
background-position: 601px 261px;
}

.services div:first-of-type h2 {position: relative;
   top: 68px;
   left: 131px;
   line-height: 30px;
   font-size: 30px;
   text-align: left;
   font-family: 'Cuprum-Regular' sans-serif;
   text-transform: uppercase;
}
.services div:first-of-type p:first-of-type {
   position:relative;
   top:127px;
   left: 130px;
   font-family: 'PTSans-Regular';
      text-align: left;
   line-height: 24px;
   font-size: 13px;
   height:37px;
   width: 398px;
}

.services div:first-of-type p:nth-of-type(2) {
   position:relative;
   top:127px;
   left: 130px;
   font-family: 'PTSans-Regular' sans-serif;
      text-align: left;
   line-height: 24px;
   font-size: 13px;
   height:37px;
   width: 398px;
}

.services div:first-of-type h3 {
   font-family: 'Cuprum-Regular' sans-serif;
   font-size: 36px;
   line-height: 36px;
   text-align: left;
   position:relative;
   left: 450 px;
   top: 240 px;
}